.coordinates-cell {
  display: flex;
  flex-direction: row;
}

.coordinates-cell svg {
  margin-right: 10px;
}

#facility-actions-menu > ul {
  padding: 0;
}

.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused),
.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
  background-color: #e9ecf7;
  color: #000000;
}
